* { 
	margin:0; 
}
.item1 { grid-area: header;}
.item2 { grid-area: menu;}
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 {grid-area: footer; }

/* tạo grid */

.grid-container {
	display: grid;
	grid-template-areas:
		'header header menu right'
		'main main footer right';
	gap: 50px;
	background-color: blue;
	padding: 20px;
}

.grid-container > div {
	background-color: white;
	font-size: 20px;
}
/* phông chữ  */
.item1-1 {
	padding: 10px;
	font-size: 30px;
	border-bottom: 1px solid #bbb;
	color:blue;
}
/* tạo flex  cho conten trong*/
.item1-div {
	display: flex;
	align-items: center;
	background-color: #fff;
	color: #333;
	padding: 25px;
	margin: 10px;
	border-bottom: 1px solid #bbb;
}
/* tất cả thẻ i trong class  */
.item1-div > i {
	margin-right: 40px;
}
/* tạo flex cho phần scopes */
.item1-info{
	padding: 15px;
}
.item1-2{
	display: flex;
	justify-content: center;
	padding:20px;
}
/* span phần timeline */
.spanpan{
	margin-right: 40px;
	background: #DDA0DD;
	padding: 15px;
	border-radius:50%;
	border: 1px solid black;
}

.item4 item1-div {
	margin-bottom: 10px;
}
@media screen and (max-width: 1000px)
{
	.item1-2{
		display: block;
	}
	.grid-container {
		grid-template-areas:
			'header header'
			'menu menu'
			'right right'
			'footer footer'
			'main main';
	}
	.item1-div {
		display: block;
	}
	.item1-div  i {
		margin-left: 350px;
	}
	.Timeline{
		margin-top: 20px;
	}
}
@media screen and (max-width: 580px) {
	.item1-div {
		display: block;
	}
	.item1-div  i {
		margin-left: 150px;
	}
}
